DOMAIN=example.com
DOMAIN_INTERNAL=localhost

# Common variables for SMTP
SMTP_HOST=
SMTP_PORT=
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_SENDER=
SMTP_SENDER_NAME=
SMTP_SSL=


# NocoDB
NOCODB_AUTH_JWT_SECRET=

# Plausible Analytics
PLAUSIBLE_SECRET_KEY_BASE=
PLAUSIBLE_POSTGRES_PASSWORD=
PLAUSIBLE_DISABLE_REGISTRATION=true
PLAUSIBLE_LOG_FAILED_LOGIN_ATTEMPTS=true
PLAUSIBLE_GOOGLE_CLIENT_ID=
PLAUSIBLE_GOOGLE_CLIENT_SECRET=

# Serpbear
SERPBEAR_USER=
SERPBEAR_PASSWORD=
SERPBEAR_SECRET=
SERPBEAR_APIKEY=
SERPBEAR_GOOGLE_CONSOLE_PRIVATE_KEY=
SERPBEAR_GOOGLE_CONSOLE_PRIVATE_EMAIL=
